<div class="flex items-end justify-between gap-8 mb-4 h-60">
  <h1 class="text-5xl"><%= @artist.name %></h1>
  <%= image_tag @artist.avatar, class: "h-full rounded-2xl" if @artist.avatar.present? %>
</div>
<div class="flex justify-end gap-8 mb-24">

<%= link_to "Edit", edit_artist_path(@artist), class: "text-blue-400 px-2 py-1 rounded-md" %>
<%= button_to "Delete artist", artist_path(@artist), method: :delete, class: "text-red-400 px-2 py-1 rounded-md" %>
</div>
<h2 class="my-4 text-2xl font-medium">Records</h2>
<div class="grid grid-cols-2 gap-4">
  <% @artist.records.each do |record| %>
    <%= render record%>
  <% end %>
</div>