<%= turbo_frame_tag "record_#{record.id}", class:"h-full" do %>
  <div class="relative">
    <%= link_to  record_path(record), class: "flex hover:bg-gray-800  h-full items-start gap-4 p-3 rounded-md border-gray-800 border" do %>
      <div class="overflow-hidden bg-black rounded-md size-24 shrink-0">
        <%= image_tag record.cover, class: "size-full object-contain" if record.cover.present? %>
      </div>
      <div>
        <p class="w-full pr-16 overflow-hidden font-medium text-white text-ellipsis"><%= record.title %></p>
        <span class="text-xs text-gray-300"><%= record.artist.name %></span><br/>
        <span class="text-sm text-gray-400">Played <span class="text-gray-300"> <%= record.logs.count %> <%= "time".pluralize(record.logs.count) %></span></span><br/>
        <% if record.logs.last.present? %>
          <span class="text-sm text-gray-400">Last played <span class="text-gray-300"><%= record.logs.last.date.strftime("%m/%d/%Y") %></span></span>
        <% else %>
          <span class="text-sm text-gray-400">Never played yet</span>
        <% end %>
      </div>
    <% end %>
    <%= button_to  logs_path, params: { record_id: record.id, source: "records_list" }, method: :post, class: "bg-transparent opacity-75 hover:opacity-100  text-black  rounded-md absolute top-4 right-4" do %>
      <%= image_tag  "play.svg", class:"size-6" %>
    <% end %>
  </div>
<% end %>