<%= turbo_frame_tag :records_results do %>
  <% if @records.present? %>
    <div class="grid grid-cols-6 gap-8 mt-10">
      <% @records.each do |record| %>
        <%= button_to  dashboard_log_path, params: { record_id: record.id }, method: :post, class: "w-full block text-left text-sm" do %>
      
          <div class="w-full mb-2 overflow-hidden bg-black aspect-square rounded-xl">
            <%= image_tag record.cover, class: "w-full h-full object-cover" if record.cover.present? %>
          </div>
          <p><%= record.title %></p>
          <p class="text-gray-400"><%= record.artist.name %></p>
        <% end %>
      <% end %>
    <% else %>
      <p>No records found, would you like to  
        <%= link_to "add a new one", discogs_search_records_path, data: { turbo_frame: "modal" }, class: "text-orange-500" %>?
      </p>
    <% end %>
  <% end %>